@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root{
    --darkblue: #132644;
    --lightblue: #5274D8;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;

}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}


#mobile-menu{
    width: 2rem;
    height: 2rem;
    border: none;
}

header{
    padding-left: 0% !important;
}

header button{
    color: white;
    background-color: var(--lightblue);
    border:none;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header li{
    margin-left: 1rem;
}

header button{
    margin-left: 4rem;
}

#line_top_x{
    opacity: 0;
}

#logo{
    margin-right: 5rem;
}
.nav-link{
    color:#132644 !important;
    text-decoration: none;
}
.nav-link:hover{
    color: #5274D8 !important;
}
.limpar{
    text-align: center;
    background-color: #5274D8;
    width: 80px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #5274D8;
    font-weight: 600;
    color:white;
    font-family:  'Plus Jakarta Sans', sans-serif;
}
.limpar:hover{
    background-color:#132644;
    border: 1px solid #132644;
}

.submit{
    text-align: center;
    background-color: #5274D8;
    width: 80px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #5274D8;
    font-weight: 600;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.submit:hover{
    background-color:#132644;
    border: 1px solid #132644;
}
.container-md{
   border: 2px solid #5274D8;
   border-radius: 10px;
   box-shadow: 4px 4px 4px  rgba(0,0,0,0.50);
   background-color: white;
}
@media(max-width=800px){
    .container-md{
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
}
#cardPrimeiro {
    border: none;
}
.card-text{
    font-size: 18;
    font-weight: 800;
    color: #5274D8;
    text-align: center;
}
#maior{
    padding-left: 80px;
    padding-top: 30px;
}