@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root{
    --darkblue: #132644;
    --lightblue: #5274D8;
}

#mobile-menu{
    width: 2rem;
    height: 2rem;
}

header li{
    margin-left: 2rem;
}

header button{
    margin-left: 2rem;
}
