@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

:root{
    --darkblue: #132644;
    --lightblue: #5274D8;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
     
}
h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

h1{
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
}

#mobile-menu{
    width: 2rem;
    height: 2rem;
}

header button{
    color: white;
    background-color: var(--lightblue);
    border:none;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

header li{
    margin-left: 1rem;
}

header button{
    margin-left: 4rem;
}

#line_top_x{
    opacity: 0;
}

#logo{
    margin-right: 5rem;
}

.limpar{
    text-align: center;
    background-color: #5274D8;
    width: 80px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #5274D8;
    font-weight: 600;
    color:white;
    font-family:  'Plus Jakarta Sans', sans-serif;
}
.limpar:hover{
    background-color:#132644;
    border: 1px solid #132644;
}

.submit{
    text-align: center;
    background-color: #5274D8;
    width: 80px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid #5274D8;
    font-weight: 600;
    color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.submit:hover{
    background-color:#132644;
    border: 1px solid #132644;
}


.container-md{
    width: 55% !important;
    height: 50% !important;
    border: 2px solid #5274D8;
    border-radius: 10px;
    box-shadow: 9000px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px !important;
}

@media (max-width: 1300px) {
}
@media (max-width: 1300px) 
{
  .container-md{
    width: 90% !important;
    height: 100% !important;
  }
  
  
}
.imgF{
  width: 100%;
}